.seccion-derecha {
    width: 100%;
    float: right;

    @include respond-to('small') {
        width: 220px;
        margin-left: 35%;
    }
}

.cabecera {
    width: 100%;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width:100%;
    height:200px;
   /* width: 100%;
    height: 200px;*/
}
